/*menu*/

.menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  
}

.menu > ul {
  cursor: pointer;
}
.menu > ul > li {
  color: "#fff";
  font-size: 50px;
}
.menu > ul > li:hover {
  color: gray;
}

.link {
  color: white;
}
.link:hover {
  color: gray;
}

@media only screen and (min-width:200px)and (max-width: 400px) {
  .menu > ul > li {
    color: "#fff";
    font-size: 25px;
    margin-right: 30px;
  }
}

@media only screen and (min-width:401px) and (max-width: 600px) {
 
  

  .menu > ul > li {
    color: "#fff";
    font-size: 33px;
    margin-right: 30px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu > ul > li {
    color: "#fff";
    font-size: 60px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}