.footer {
  height: 40vh;
}

.f-social {
  display: flex;
  flex: 1;
  color: white;
  gap: 2rem;
  font-weight: 400;
  font-family: 'Lexend', sans-serif;
  justify-content: center;
  align-items: center;
}
